{
    "programs": [
        {
            "id": "gdE4pRzI",
            "url": "https://canary.discord.com/api/webhooks/boop"
        },
        {
            "id": "3EsotSOl",
            "url": "https://canary.discord.com/api/webhooks/boop"
        },
    ]
}